<!-- templates/server_thermal_profiles.html -->
{% extends "base_template.html" %}

{% block title %}Server Thermal Profiles - mostcool{% endblock %}

{% block sidebar %}
<li class="nav-item">
  <a href="/simulation-setup" class="nav-link text-white">
    Simulation Setup
  </a>
</li>
<li class="nav-item">
  <a href="/simulation" class="nav-link text-white">Simulation</a>
</li>
<li class="nav-item">
  <a href="/results" class="nav-link text-white">
    Results
  </a>
</li>
{% endblock %}

{% block content %}
<div class="pt-3 pb-2">
  <h2>Server Thermal Profiles</h2>
  <p>Visualize the server board thermal profile in Paraview Web! Select the velocity, server inlet temperature, and CPU load fraction that you would like to visualize. Then click "Visualize". Loading the visualization will take some time (Up to 5 minutes).</p>
  <form id="thermal-form">
    <div class="mb-3">
      <label for="velocity" class="form-label">Velocity: [m/s]</label>
      <input type="number" class="form-control" id="velocity" name="velocity" min="6" max="15" value="15" required>
    </div>
    <div class="mb-3">
      <label for="server-temp" class="form-label">Server Inlet Temperature: [C]</label>
      <input type="number" class="form-control" id="server-temp" name="server_temp" min="0" max="100" value="70" required>
    </div>
    <div class="mb-3">
      <label for="cpu-load" class="form-label">CPU Load Fraction: [-]</label>
      <input type="number" class="form-control" id="cpu-load" name="cpu_load" min="0.5" max="1" step="0.01" value="0.73" required>
    </div>
    <button type="submit" class="btn btn-primary">Visualize</button>
  </form>
</div>
<script>
document.getElementById('thermal-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(event.target);
    const data = {
        velocity: formData.get('velocity'),
        server_temp: formData.get('server_temp'),
        cpu_load: formData.get('cpu_load')
    };

    fetch('/run-paraview', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log('Paraview opened successfully.');
            window.open('http://0.0.0.0:1234', '_blank');
        } else {
            console.error('Error:', data.error);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
