EnergyPlus-9.6.0-f420c06a69-Linux-Ubuntu20.04-x86_64.sh
EnergyPlusExample/Output/
EnergyPlusExample/EnergyPlus
*.log
*.pyc
.idea/*
Output*
modes.csv
*.cgns
.venv/
build/
*.egg-info/
MOSTcool
*/weather.epw
