h5py==3.10.0
helics==3.4.0
helics[cli]==3.4.0
matplotlib==3.8.2
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
plotly==5.22.0
Pypubsub==4.0.3
pytest==8.3.1
scikit_learn==1.5.1
scipy==1.14.0
trame==3.6.1
trame-vtk==2.8.8
trame-vuetify==2.5.0
