<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<title>Simulation Setup - MOSTCOOL</title>
<style>
  .sidebar, .card-custom {
    background-color: #343a40; /* Sidebar color */
    color: white; /* Text color */
  }
  .progress-modal {
    display: none; /* Initially hide the progress bar modal */
    position: fixed;
    bottom: 0;
    left: 280px; /* Same as the sidebar width */
    width: calc(100% - 280px); /* Adjust width to not overlap the sidebar */
    z-index: 1050; /* Same as Bootstrap's modal z-index */
  }
  .progress-bar-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 5px;
  }
  .progress-title {
    color: white;
    margin-bottom: 5px;
  }
  .btn-maroon {
    background-color: maroon;
    color: white;
  }
</style>
</head>
<body>
<div class="d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-4 sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">MOSTCOOL</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="preSimDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Simulation Setup
        </a>
        <ul class="dropdown-menu" aria-labelledby="preSimDropdown">
          <li><a class="dropdown-item" href="/step-1">Select EPW File</a></li>
          <!--<li><a class="dropdown-item" href="/step-2">Step 2: Placeholder for Next Step</a></li>
          <li><a class="dropdown-item" href="/step-3">Step 3: Placeholder for Next Step</a></li> -->
          <!-- Add more steps as needed -->
        </ul>
      </li>    
      <li class="nav-item">
        <button class="btn btn-maroon" type="button" id="start-sim-btn">
          Start Sim
        </button>
      </li>
      <li class="nav-item">
        <a href="/results" class="nav-link text-white">
          Results
        </a>
      </li>
    </ul>
    <hr>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Location</td>
          <td id="selected-location">{{ epw_location or 'None' }}</td>
        </tr>
        <tr>
          <td>Climate Type</td>
          <td id="selected-climate">None</td>
        </tr>
      </tbody>
    </table>
  </div>
  <main class="flex-fill p-0 main-content">
    <div class="pt-3 pb-2 mb-3 container">
      <h2>Simulation Setup</h2>
      <p>Welcome to the simulation setup for MOSTCOOL. This process will guide you through selecting the necessary parameters for your simulation.</p>
      
      <div class="row">
        <div class="col-md-4">
          <div class="card card-custom mb-3">
            <div class="card-body">
              <h5 class="card-title">Select EPW File</h5>
              <p class="card-text">Choose the appropriate EPW file for your simulation from a variety of locations.</p>
              <a href="/step-1" class="btn btn-primary">Select EPW File</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-custom mb-3">
            <div class="card-body">
              <h5 class="card-title">Placeholder for Next Step</h5>
              <p class="card-text">Additional configuration options for simulation (Coming up).</p>
              <a href="/step-2" class="btn btn-primary">Step 2</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-4">
          <div class="card card-custom mb-3">
            <div class="card-body">
              <h5 class="card-title">Step 3: Placeholder for Next Step</h5>
              <p class="card-text">Finalize your simulation setup with the last configuration options.</p>
              <a href="/step-3" class="btn btn-primary">Go to Step 3</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </main>
</div>

<!-- Progress Modal -->
<div class="progress-modal" id="progress-modal">
  <div class="progress-bar-container">
    <div class="progress-title">Simulation Progress</div>
    <div class="progress">
      <div class="progress-bar" id="simulation-progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0">0%</div>
    </div>
  </div>
</div>

<!-- Modal for Simulation Started -->
<div class="modal fade" id="simulationStartedModal" tabindex="-1" aria-labelledby="simulationStartedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="simulationStartedModalLabel">Simulation Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Simulation started.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Simulation Completed -->
<div class="modal fade" id="simulationCompletedModal" tabindex="-1" aria-labelledby="simulationCompletedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="simulationCompletedModalLabel">Simulation Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Simulation completed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
document.getElementById('start-sim-btn').addEventListener('click', function() {
    fetch('/start_simulation', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            idf_path: 'your_idf_path',
            control_option: 'your_control_option',
            datacenter_location: 'your_datacenter_location'
        })
    })
    .then(response => response.json())
    .then(data => {
        const statusModal = new bootstrap.Modal(document.getElementById('simulationStartedModal'), {
            keyboard: false
        });
        if (data.status === 'Error') {
            statusModal._element.querySelector('.modal-body').innerText = `Error: ${data.message}`;
        } else {
            statusModal._element.querySelector('.modal-body').innerText = data.status;
        }
        statusModal.show();
        
        if (data.status !== 'Error') {
            // Show the progress bar modal
            document.getElementById('progress-modal').style.display = 'block';
            
            // Fetch the maximum progress value
            fetch('/get_progress_max')
                .then(response => response.json())
                .then(maxData => {
                    const progressMax = maxData.progress_max;
                    const progressBar = document.getElementById('simulation-progress-bar');
                    progressBar.setAttribute('aria-valuemax', progressMax);

                    // Periodically fetch progress
                    const progressInterval = setInterval(() => {
                        fetch('/get_progress')
                            .then(response => response.json())
                            .then(progressData => {
                                const progress = progressData.progress;
                                const progressPercent = (progress / progressMax) * 100;
                                progressBar.style.width = progressPercent + '%';
                                progressBar.setAttribute('aria-valuenow', progress);
                                progressBar.textContent = progressPercent.toFixed(1) + '%';
                                
                                if (round(progressPercent) >= 100) {
                                    clearInterval(progressInterval);
                                    document.getElementById('progress-modal').style.display = 'none'; // Hide the progress bar modal
                                    const completedModal = new bootstrap.Modal(document.getElementById('simulationCompletedModal'), {
                                        keyboard: false
                                    });
                                    completedModal.show();
                                }
                            });
                    }, 1000); // Adjust the interval as necessary
                });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        const statusModal = new bootstrap.Modal(document.getElementById('simulationStartedModal'), {
            keyboard: false
        });
        statusModal._element.querySelector('.modal-body').innerText = 'An unexpected error occurred';
        statusModal.show();
    });
});
</script>
</body>
</html>
