cffi==1.16.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
helics==3.4.0
h5py==3.10.0
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
plan_tools==0.7.0
pycparser==2.21
pyparsing==3.1.1
pypubsub==4.0.3
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
strip-hints==0.1.10
tzdata==2023.3
scipy==1.12.0