<!-- Cost/CostTemplates/settings.html -->
{% extends "base_template.html" %}

{% block title %}Settings{% endblock %}

{% block sidebar %}
<li class="nav-item">
    <a href="/results/cost/" class="nav-link">Cost Model Home</a>
</li>
<li class="nav-item">
  <a href="/results/cost/settings" class="nav-link active">Settings</a>
</li>
<li class="nav-item">
  <a href="/results/cost/elements.html" class="nav-link">Cost Elements Menu</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Settings</h1>
    <form action="/results/cost/settings" method="post">
        {% for var, val in variables.items() %}
            <div class="form-group">
                <label for="{{ var }}">{{ var }}</label>
                <input type="text" class="form-control" id="{{ var }}" name="{{ var }}" value="{{ val }}">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
